apiVersion: v1
kind: Service
metadata:
  name: {{ include "philotes-worker.fullname" . }}
  labels:
    {{- include "philotes-worker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: health
      protocol: TCP
      name: health
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "philotes-worker.selectorLabels" . | nindent 4 }}
