{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "trino.coordinator.name" . }}
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: coordinator
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "trino.coordinator.selectorLabels" . | nindent 4 }}
{{- end }}
